In [2]:
import pandas as pd
import numpy as np

# Train Data Set

In [3]:
train = pd.read_csv(r"C:\Users\Hp\Downloads\train_ctrUa4K.csv")
train

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

# check shape

In [4]:
train.shape

(614, 13)

# check data frame NAN value present or not

In [5]:
train.isnull().values.any()

True

# find NAN value columns in python

In [6]:
train.isna().any()

Loan_ID              False
Gender                True
Married               True
Dependents            True
Education            False
Self_Employed         True
ApplicantIncome      False
CoapplicantIncome    False
LoanAmount            True
Loan_Amount_Term      True
Credit_History        True
Property_Area        False
Loan_Status          False
dtype: bool

In [7]:
train[train.columns[train.isna().any()]]

,Gender,Married,Dependents,Self_Employed,LoanAmount,Loan_Amount_Term,Credit_History
0,Male,No,0,No,NaN,360.0,1.0
1,Male,Yes,1,No,128.0,360.0,1.0
2,Male,Yes,0,Yes,66.0,360.0,1.0
3,Male,Yes,0,No,120.0,360.0,1.0
4,Male,No,0,No,141.0,360.0,1.0
...,...,...,...,...,...,...,...
609,Female,No,0,No,71.0,360.0,1.0
610,Male,Yes,3+,No,40.0,180.0,1.0
611,Male,Yes,1,No,253.0,360.0,1.0
612,Male,Yes,2,No,187.0,360.0,1.0
613,Female,No,0,Yes,133.0,360.0,0.0

# check total number of na value in column

In [8]:

print(train['Gender'].isna().sum())
print(train["Married"].isna().sum())
print(train['Dependents'].isna().sum())
print(train["Self_Employed"].isna().sum())
print(train['LoanAmount'].isna().sum())
print(train["Loan_Amount_Term"].isna().sum())
print(train['Credit_History'].isna().sum())

13
3
15
32
22
14
50

# check for all columns

In [9]:
train["Gender"].value_counts()

Gender
Male      489
Female    112
Name: count, dtype: int64

In [10]:
train["Married"].value_counts()

Married
Yes    398
No     213
Name: count, dtype: int64

In [11]:
train["Dependents"].value_counts()

Dependents
0     345
1     102
2     101
3+     51
Name: count, dtype: int64

# important Changes 3+ to 4 in Dependents column

In [12]:
train['Dependents'] = train['Dependents'].replace(to_replace = '3+', value = 4)

In [13]:
train["Dependents"].value_counts()

Dependents
0    345
1    102
2    101
4     51
Name: count, dtype: int64

In [14]:
train["Self_Employed"].value_counts()

Self_Employed
No     500
Yes     82
Name: count, dtype: int64

In [15]:
train["LoanAmount"].value_counts()

LoanAmount
120.0    20
110.0    17
100.0    15
160.0    12
187.0    12
         ..
240.0     1
214.0     1
59.0      1
166.0     1
253.0     1
Name: count, Length: 203, dtype: int64

In [16]:
train["Loan_Amount_Term"].value_counts()

Loan_Amount_Term
360.0    512
180.0     44
480.0     15
300.0     13
240.0      4
84.0       4
120.0      3
60.0       2
36.0       2
12.0       1
Name: count, dtype: int64

In [17]:
train["Credit_History"].value_counts()

Credit_History
1.0    475
0.0     89
Name: count, dtype: int64

# fill up NAN value by Mean

In [18]:
train['Gender'] = train['Gender'].fillna(train['Gender'].mode()[0])
train['Married'] = train['Married'].fillna(train['Married'].mode()[0])
train['Dependents'] = train['Dependents'].fillna(train['Dependents'].mode()[0])
train['Self_Employed'] = train['Self_Employed'].fillna(train['Self_Employed'].mode()[0])
train['LoanAmount'] = train['LoanAmount'].fillna(train['LoanAmount'].mean())
train['Loan_Amount_Term'] = train['Loan_Amount_Term'].fillna(train['Loan_Amount_Term'].mean())
train['Credit_History'] = train['Credit_History'].fillna(train['Credit_History'].mode()[0])

In [19]:
train

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,146.412162,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.000000,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.000000,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.000000,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.000000,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.000000,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,4,Graduate,No,4106,0.0,40.000000,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.000000,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.000000,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.000000,360.0,0.0,Semiurban,N

In [20]:
train.isna().any()

Loan_ID              False
Gender               False
Married              False
Dependents           False
Education            False
Self_Employed        False
ApplicantIncome      False
CoapplicantIncome    False
LoanAmount           False
Loan_Amount_Term     False
Credit_History       False
Property_Area        False
Loan_Status          False
dtype: bool

# data set convert into Numerical Form

In [21]:
# Import label encoder
from sklearn import preprocessing

# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()

# Encode labels in column 'species'.
train['Gender']= label_encoder.fit_transform(train['Gender'])
train['Married']= label_encoder.fit_transform(train['Married'])
train['Education']= label_encoder.fit_transform(train['Education'])
train['Self_Employed']= label_encoder.fit_transform(train['Self_Employed'])
train['Property_Area']= label_encoder.fit_transform(train['Property_Area'])
train['Loan_Status']= label_encoder.fit_transform(train['Loan_Status'])

In [22]:
train

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1,0,0,0,0,5849,0.0,146.412162,360.0,1.0,2,1
1,LP001003,1,1,1,0,0,4583,1508.0,128.000000,360.0,1.0,0,0
2,LP001005,1,1,0,0,1,3000,0.0,66.000000,360.0,1.0,2,1
3,LP001006,1,1,0,1,0,2583,2358.0,120.000000,360.0,1.0,2,1
4,LP001008,1,0,0,0,0,6000,0.0,141.000000,360.0,1.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,0,0,0,0,0,2900,0.0,71.000000,360.0,1.0,0,1
610,LP002979,1,1,4,0,0,4106,0.0,40.000000,180.0,1.0,0,1
611,LP002983,1,1,1,0,0,8072,240.0,253.000000,360.0,1.0,2,1
612,LP002984,1,1,2,0,0,7583,0.0,187.000000,360.0,1.0,2,1
613,LP002990,0,0,0,0,1,4583,0.0,133.000000,360.0,0.0,1,0

In [25]:
test = pd.read_csv(r"C:\Users\Hp\Downloads\test_lAUu6dG.csv")
test

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural

In [26]:
test.shape

(367, 12)

In [27]:

test.isna().any()

Loan_ID              False
Gender                True
Married              False
Dependents            True
Education            False
Self_Employed         True
ApplicantIncome      False
CoapplicantIncome    False
LoanAmount            True
Loan_Amount_Term      True
Credit_History        True
Property_Area        False
dtype: bool

In [28]:

print(test['Gender'].isna().sum())
print(test["Married"].isna().sum())
print(test['Dependents'].isna().sum())
print(test["Self_Employed"].isna().sum())
print(test['LoanAmount'].isna().sum())
print(test["Loan_Amount_Term"].isna().sum())
print(test['Credit_History'].isna().sum())

11
0
10
23
5
6
29

In [29]:



test['Dependents'] = test['Dependents'].replace(to_replace = '3+', value = 4)
test["Dependents"].value_counts()

Dependents
0    200
2     59
1     58
4     40
Name: count, dtype: int64

In [30]:

test['Gender'] = test['Gender'].fillna(test['Gender'].mode()[0])
test['Married'] = test['Married'].fillna(test['Married'].mode()[0])
test['Dependents'] = test['Dependents'].fillna(test['Dependents'].mode()[0])
test['Self_Employed'] = test['Self_Employed'].fillna(test['Self_Employed'].mode()[0])
test['LoanAmount'] = test['LoanAmount'].fillna(test['LoanAmount'].mean())
test['Loan_Amount_Term'] = test['Loan_Amount_Term'].fillna(test['Loan_Amount_Term'].mean())
test['Credit_History'] = test['Credit_History'].fillna(test['Credit_History'].mode()[0])

In [31]:
test.isna().any()

Loan_ID              False
Gender               False
Married              False
Dependents           False
Education            False
Self_Employed        False
ApplicantIncome      False
CoapplicantIncome    False
LoanAmount           False
Loan_Amount_Term     False
Credit_History       False
Property_Area        False
dtype: bool

In [32]:


# Import label encoder
from sklearn import preprocessing

# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()

# Encode labels in column 'species'.
test['Gender']= label_encoder.fit_transform(test['Gender'])
test['Married']= label_encoder.fit_transform(test['Married'])
test['Education']= label_encoder.fit_transform(test['Education'])
test['Self_Employed']= label_encoder.fit_transform(test['Self_Employed'])
test['Property_Area']= label_encoder.fit_transform(test['Property_Area'])
#test['Loan_Status']= label_encoder.fit_transform(test['Loan_Status'])

In [33]:
test = test.iloc[:,1:12]
test

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,1,0,0,0,5720,0,110.0,360.0,1.0,2
1,1,1,1,0,0,3076,1500,126.0,360.0,1.0,2
2,1,1,2,0,0,5000,1800,208.0,360.0,1.0,2
3,1,1,2,0,0,2340,2546,100.0,360.0,1.0,2
4,1,0,0,1,0,3276,0,78.0,360.0,1.0,2
...,...,...,...,...,...,...,...,...,...,...,...
362,1,1,4,1,1,4009,1777,113.0,360.0,1.0,2
363,1,1,0,0,0,4158,709,115.0,360.0,1.0,2
364,1,0,0,0,0,3250,1993,126.0,360.0,1.0,1
365,1,1,0,0,0,5000,2393,158.0,360.0,1.0,0
366,1,0,0,0,1,9200,0,98.0,180.0,1.0,0

In [34]:
# Extract Independent and dependent Variables
X_train = train.iloc[:,1:12]
X_train

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,0,0,0,0,5849,0.0,146.412162,360.0,1.0,2
1,1,1,1,0,0,4583,1508.0,128.000000,360.0,1.0,0
2,1,1,0,0,1,3000,0.0,66.000000,360.0,1.0,2
3,1,1,0,1,0,2583,2358.0,120.000000,360.0,1.0,2
4,1,0,0,0,0,6000,0.0,141.000000,360.0,1.0,2
...,...,...,...,...,...,...,...,...,...,...,...
609,0,0,0,0,0,2900,0.0,71.000000,360.0,1.0,0
610,1,1,4,0,0,4106,0.0,40.000000,180.0,1.0,0
611,1,1,1,0,0,8072,240.0,253.000000,360.0,1.0,2
612,1,1,2,0,0,7583,0.0,187.000000,360.0,1.0,2
613,0,0,0,0,1,4583,0.0,133.000000,360.0,0.0,1

In [35]:
y_train = train.Loan_Status
y_train

0      1
1      0
2      1
3      1
4      1
      ..
609    1
610    1
611    1
612    1
613    0
Name: Loan_Status, Length: 614, dtype: int32

# Model-1

In [41]:
#Fitting Decision Tree Model to the training set
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
Model = DecisionTreeClassifier(max_depth=None,random_state=40)
Model.fit(X_train,y_train)

DecisionTreeClassifier(random_state=40)

In [42]:
y_pred = Model.predict(test)

In [43]:
y_pred

array([0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1,
       1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0,
       0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0,
       1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1])

# Model-2

In [44]:

model = KNeighborsClassifier(n_neighbors=5)

model.fit( X_train , y_train )


y_pred = model.predict(test)

In [45]:
#Predicting the test set result
y_pred = Model.predict(test)

In [46]:
y_pred.shape

(367,)

# Model - xgboost

In [47]:
pip install xgboost

Collecting xgboostNote: you may need to restart the kernel to use updated packages.

  Downloading xgboost-3.0.2-py3-none-win_amd64.whl.metadata (2.1 kB)
Requirement already satisfied: numpy in c:\users\hp\anaconda3\lib\site-packages (from xgboost) (1.23.5)
Requirement already satisfied: scipy in c:\users\hp\anaconda3\lib\site-packages (from xgboost) (1.11.4)
Downloading xgboost-3.0.2-py3-none-win_amd64.whl (150.0 MB)
   ---------------------------------------- 0.0/150.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/150.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/150.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/150.0 MB 1.9 MB/s eta 0:01:19
   ---------------------------------------- 0.0/150.0 MB 1.9 MB/s eta 0:01:19
   ---------------------------------------- 0.0/150.0 MB 1.9 MB/s eta 0:01:19
   ---------------------------------------- 0.0/150.0 MB 1.9 MB/s eta 0:01:19
   ---------------------------------------- 0.0/150.0 MB 1.9 MB/s eta 0:01:19
   ---------------------------------------- 0.0/150.0 MB 1.9 MB/s eta 0:01:19
   ---------------------------------------- 0.0/150.0 MB 1.9 MB/s eta 0:01:19
   ---------------------------------------- 0.2/150.0 MB 435.7 kB/s eta 0:05:44
   ---------------------------------------- 0.2/150.0 MB 435.7 kB/s eta 0:05:44
   ---------------------------------------- 0.3/150.0 MB 655.2 kB/s eta 0:03:49
   ---------------------------------------- 0.3/150.0 MB 703.7 kB/s eta 0:03:33
   ---------------------------------------- 0.4/150.0 MB 839.7 kB/s eta 0:02:59
   ---------------------------------------- 0.7/150.0 MB 1.3 MB/s eta 0:01:51
   ---------------------------------------- 1.2/150.0 MB 2.1 MB/s eta 0:01:12
   ---------------------------------------- 1.6/150.0 MB 2.7 MB/s eta 0:00:56
    --------------------------------------- 2.2/150.0 MB 3.3 MB/s eta 0:00:46
    --------------------------------------- 2.5/150.0 MB 3.6 MB/s eta 0:00:42
    --------------------------------------- 2.9/150.0 MB 3.9 MB/s eta 0:00:38
    --------------------------------------- 3.5/150.0 MB 4.4 MB/s eta 0:00:34
   - -------------------------------------- 4.0/150.0 MB 4.9 MB/s eta 0:00:30
   - -------------------------------------- 4.5/150.0 MB 5.2 MB/s eta 0:00:29
   - -------------------------------------- 4.8/150.0 MB 5.3 MB/s eta 0:00:28
   - -------------------------------------- 5.2/150.0 MB 5.5 MB/s eta 0:00:27
   - -------------------------------------- 5.8/150.0 MB 5.8 MB/s eta 0:00:25
   - -------------------------------------- 6.2/150.0 MB 6.1 MB/s eta 0:00:24
   - -------------------------------------- 6.8/150.0 MB 6.4 MB/s eta 0:00:23
   - -------------------------------------- 7.1/150.0 MB 6.4 MB/s eta 0:00:23
   -- ------------------------------------- 7.6/150.0 MB 6.6 MB/s eta 0:00:22
   -- ------------------------------------- 8.2/150.0 MB 6.8 MB/s eta 0:00:21
   -- ------------------------------------- 8.5/150.0 MB 6.8 MB/s eta 0:00:21
   -- ------------------------------------- 9.2/150.0 MB 7.1 MB/s eta 0:00:20
   -- ------------------------------------- 9.7/150.0 MB 7.2 MB/s eta 0:00:20
   -- ------------------------------------- 10.1/150.0 MB 7.4 MB/s eta 0:00:19
   -- ------------------------------------- 10.5/150.0 MB 10.1 MB/s eta 0:00:14
   -- ------------------------------------- 10.9/150.0 MB 11.1 MB/s eta 0:00:13
   --- ------------------------------------ 11.4/150.0 MB 11.1 MB/s eta 0:00:13
   --- ------------------------------------ 11.8/150.0 MB 10.9 MB/s eta 0:00:13
   --- ------------------------------------ 12.3/150.0 MB 11.1 MB/s eta 0:00:13
   --- ------------------------------------ 12.8/150.0 MB 11.1 MB/s eta 0:00:13
   --- ------------------------------------ 13.4/150.0 MB 11.1 MB/s eta 0:00:13
   --- ------------------------------------ 13.8/150.0 MB 11.1 MB/s eta 0:00:13
   --- ------------------------------------ 14.4/150.0 MB 11.1 MB/s eta 0:00:13
   --- ------------------------------------ 14.8/150.0 MB 11.1 MB/s eta 0:00:13
   ---- ----------------------------------- 15.4/150.0 MB 11.3 MB/s eta 0:00:12
   ---- ----------------------------------- 15.9/150.0 MB 11.5 MB/s eta 0:00:12
   ---- ----------------------------------- 16.2/150.0 MB 11.3 MB/s eta 0:00:12
   ---- ----------------------------------- 16.6/150.0 MB 10.9 MB/s eta 0:00:13
   ---- ----------------------------------- 16.8/150.0 MB 10.7 MB/s eta 0:00:13
   ---- ----------------------------------- 17.2/150.0 MB 10.7 MB/s eta 0:00:13
   ---- ----------------------------------- 17.7/150.0 MB 10.6 MB/s eta 0:00:13
   ---- ----------------------------------- 18.1/150.0 MB 10.9 MB/s eta 0:00:13
   ---- ----------------------------------- 18.3/150.0 MB 10.4 MB/s eta 0:00:13
   ---- ----------------------------------- 18.6/150.0 MB 10.4 MB/s eta 0:00:13
   ----- ---------------------------------- 18.8/150.0 MB 10.4 MB/s eta 0:00:13
   ----- ---------------------------------- 19.0/150.0 MB 9.9 MB/s eta 0:00:14
   ----- ---------------------------------- 19.4/150.0 MB 9.8 MB/s eta 0:00:14
   ----- ---------------------------------- 19.7/150.0 MB 9.5 MB/s eta 0:00:14
   ----- ---------------------------------- 20.0/150.0 MB 9.5 MB/s eta 0:00:14
   ----- ---------------------------------- 20.3/150.0 MB 9.2 MB/s eta 0:00:15
   ----- ---------------------------------- 20.6/150.0 MB 9.0 MB/s eta 0:00:15
   ----- ---------------------------------- 20.8/150.0 MB 9.1 MB/s eta 0:00:15
   ----- ---------------------------------- 21.2/150.0 MB 9.0 MB/s eta 0:00:15
   ----- ---------------------------------- 21.4/150.0 MB 8.7 MB/s eta 0:00:15
   ----- ---------------------------------- 21.7/150.0 MB 8.6 MB/s eta 0:00:15
   ----- ---------------------------------- 22.0/150.0 MB 8.4 MB/s eta 0:00:16
   ----- ---------------------------------- 22.4/150.0 MB 8.3 MB/s eta 0:00:16
   ------ --------------------------------- 22.6/150.0 MB 8.2 MB/s eta 0:00:16
   ------ --------------------------------- 23.0/150.0 MB 8.1 MB/s eta 0:00:16
   ------ --------------------------------- 23.3/150.0 MB 8.0 MB/s eta 0:00:16
   ------ --------------------------------- 23.6/150.0 MB 7.9 MB/s eta 0:00:17
   ------ --------------------------------- 24.0/150.0 MB 7.8 MB/s eta 0:00:17
   ------ --------------------------------- 24.3/150.0 MB 7.7 MB/s eta 0:00:17
   ------ --------------------------------- 24.6/150.0 MB 7.7 MB/s eta 0:00:17
   ------ --------------------------------- 25.0/150.0 MB 7.5 MB/s eta 0:00:17
   ------ --------------------------------- 25.3/150.0 MB 7.5 MB/s eta 0:00:17
   ------ --------------------------------- 25.7/150.0 MB 7.4 MB/s eta 0:00:17
   ------ --------------------------------- 26.1/150.0 MB 7.4 MB/s eta 0:00:17
   ------- -------------------------------- 26.4/150.0 MB 7.4 MB/s eta 0:00:17
   ------- -------------------------------- 26.8/150.0 MB 7.4 MB/s eta 0:00:17
   ------- -------------------------------- 27.2/150.0 MB 7.6 MB/s eta 0:00:17
   ------- -------------------------------- 27.6/150.0 MB 7.5 MB/s eta 0:00:17
   ------- -------------------------------- 28.0/150.0 MB 7.4 MB/s eta 0:00:17
   ------- -------------------------------- 28.4/150.0 MB 7.4 MB/s eta 0:00:17
   ------- -------------------------------- 28.7/150.0 MB 7.4 MB/s eta 0:00:17
   ------- -------------------------------- 29.1/150.0 MB 7.6 MB/s eta 0:00:16
   ------- -------------------------------- 29.5/150.0 MB 7.7 MB/s eta 0:00:16
   ------- -------------------------------- 29.9/150.0 MB 7.8 MB/s eta 0:00:16
   -------- ------------------------------- 30.4/150.0 MB 8.1 MB/s eta 0:00:15
   -------- ------------------------------- 30.8/150.0 MB 8.2 MB/s eta 0:00:15
   -------- ------------------------------- 31.2/150.0 MB 8.4 MB/s eta 0:00:15
   -------- ------------------------------- 31.6/150.0 MB 8.5 MB/s eta 0:00:14
   -------- ------------------------------- 32.0/150.0 MB 8.6 MB/s eta 0:00:14
   -------- ------------------------------- 32.5/150.0 MB 8.7 MB/s eta 0:00:14
   -------- ------------------------------- 32.8/150.0 MB 8.8 MB/s eta 0:00:14
   -------- ------------------------------- 33.2/150.0 MB 9.0 MB/s eta 0:00:14
   -------- ------------------------------- 33.7/150.0 MB 9.1 MB/s eta 0:00:13
   --------- ------------------------------ 34.0/150.0 MB 9.2 MB/s eta 0:00:13
   --------- ------------------------------ 34.4/150.0 MB 9.2 MB/s eta 0:00:13
   --------- ------------------------------ 34.8/150.0 MB 9.2 MB/s eta 0:00:13
   --------- ------------------------------ 35.2/150.0 MB 9.5 MB/s eta 0:00:13
   --------- ------------------------------ 35.6/150.0 MB 9.5 MB/s eta 0:00:13
   --------- ------------------------------ 36.0/150.0 MB 9.4 MB/s eta 0:00:13
   --------- ------------------------------ 36.5/150.0 MB 9.5 MB/s eta 0:00:12
   --------- ------------------------------ 36.8/150.0 MB 9.5 MB/s eta 0:00:12
   --------- ------------------------------ 37.2/150.0 MB 9.5 MB/s eta 0:00:12
   ---------- ----------------------------- 37.6/150.0 MB 9.6 MB/s eta 0:00:12
   ---------- ----------------------------- 38.0/150.0 MB 9.5 MB/s eta 0:00:12
   ---------- ----------------------------- 38.4/150.0 MB 9.6 MB/s eta 0:00:12
   ---------- ----------------------------- 39.0/150.0 MB 9.8 MB/s eta 0:00:12
   ---------- ----------------------------- 39.4/150.0 MB 9.9 MB/s eta 0:00:12
   ---------- ----------------------------- 39.8/150.0 MB 9.9 MB/s eta 0:00:12
   ---------- ----------------------------- 40.2/150.0 MB 9.8 MB/s eta 0:00:12
   ---------- ----------------------------- 40.8/150.0 MB 9.9 MB/s eta 0:00:11
   ---------- ----------------------------- 41.1/150.0 MB 9.9 MB/s eta 0:00:11
   ----------- ---------------------------- 41.5/150.0 MB 9.8 MB/s eta 0:00:12
   ----------- ---------------------------- 42.0/150.0 MB 9.9 MB/s eta 0:00:11
   ----------- ---------------------------- 42.4/150.0 MB 9.8 MB/s eta 0:00:12
   ----------- ---------------------------- 42.8/150.0 MB 9.9 MB/s eta 0:00:11
   ----------- ---------------------------- 43.2/150.0 MB 9.8 MB/s eta 0:00:11
   ----------- ---------------------------- 43.3/150.0 MB 9.5 MB/s eta 0:00:12
   ----------- ---------------------------- 43.4/150.0 MB 9.2 MB/s eta 0:00:12
   ----------- ---------------------------- 43.5/150.0 MB 9.0 MB/s eta 0:00:12
   ----------- ---------------------------- 43.7/150.0 MB 8.8 MB/s eta 0:00:13
   ----------- ---------------------------- 44.1/150.0 MB 8.7 MB/s eta 0:00:13
   ----------- ---------------------------- 44.5/150.0 MB 8.7 MB/s eta 0:00:13
   ----------- ---------------------------- 44.8/150.0 MB 8.7 MB/s eta 0:00:13
   ------------ --------------------------- 45.3/150.0 MB 8.6 MB/s eta 0:00:13
   ------------ --------------------------- 45.5/150.0 MB 8.6 MB/s eta 0:00:13
   ------------ --------------------------- 46.0/150.0 MB 8.7 MB/s eta 0:00:12
   ------------ --------------------------- 46.6/150.0 MB 8.7 MB/s eta 0:00:12
   ------------ --------------------------- 46.9/150.0 MB 8.7 MB/s eta 0:00:12
   ------------ --------------------------- 47.2/150.0 MB 8.5 MB/s eta 0:00:13
   ------------ --------------------------- 47.5/150.0 MB 8.6 MB/s eta 0:00:12
   ------------ --------------------------- 48.0/150.0 MB 8.6 MB/s eta 0:00:12
   ------------ --------------------------- 48.4/150.0 MB 8.6 MB/s eta 0:00:12
   ------------- -------------------------- 48.8/150.0 MB 8.6 MB/s eta 0:00:12
   ------------- -------------------------- 49.3/150.0 MB 8.6 MB/s eta 0:00:12
   ------------- -------------------------- 49.8/150.0 MB 8.6 MB/s eta 0:00:12
   ------------- -------------------------- 50.2/150.0 MB 8.6 MB/s eta 0:00:12
   ------------- -------------------------- 50.7/150.0 MB 8.6 MB/s eta 0:00:12
   ------------- -------------------------- 51.2/150.0 MB 8.6 MB/s eta 0:00:12
   ------------- -------------------------- 51.6/150.0 MB 8.6 MB/s eta 0:00:12
   ------------- -------------------------- 52.1/150.0 MB 8.6 MB/s eta 0:00:12
   -------------- ------------------------- 52.5/150.0 MB 8.7 MB/s eta 0:00:12
   -------------- ------------------------- 53.0/150.0 MB 8.7 MB/s eta 0:00:12
   -------------- ------------------------- 53.1/150.0 MB 8.7 MB/s eta 0:00:12
   -------------- ------------------------- 53.3/150.0 MB 8.5 MB/s eta 0:00:12
   -------------- ------------------------- 53.8/150.0 MB 9.4 MB/s eta 0:00:11
   -------------- ------------------------- 54.1/150.0 MB 9.4 MB/s eta 0:00:11
   -------------- ------------------------- 54.4/150.0 MB 9.2 MB/s eta 0:00:11
   -------------- ------------------------- 54.8/150.0 MB 9.2 MB/s eta 0:00:11
   -------------- ------------------------- 55.2/150.0 MB 9.2 MB/s eta 0:00:11
   -------------- ------------------------- 55.6/150.0 MB 9.1 MB/s eta 0:00:11
   -------------- ------------------------- 55.9/150.0 MB 9.2 MB/s eta 0:00:11
   --------------- ------------------------ 56.3/150.0 MB 9.2 MB/s eta 0:00:11
   --------------- ------------------------ 56.6/150.0 MB 9.0 MB/s eta 0:00:11
   --------------- ------------------------ 57.0/150.0 MB 9.0 MB/s eta 0:00:11
   --------------- ------------------------ 57.4/150.0 MB 9.2 MB/s eta 0:00:11
   --------------- ------------------------ 57.8/150.0 MB 9.2 MB/s eta 0:00:11
   --------------- ------------------------ 58.2/150.0 MB 9.1 MB/s eta 0:00:11
   --------------- ------------------------ 58.5/150.0 MB 9.1 MB/s eta 0:00:11
   --------------- ------------------------ 58.8/150.0 MB 9.0 MB/s eta 0:00:11
   --------------- ------------------------ 59.1/150.0 MB 9.0 MB/s eta 0:00:11
   --------------- ------------------------ 59.4/150.0 MB 8.7 MB/s eta 0:00:11
   --------------- ------------------------ 59.7/150.0 MB 8.6 MB/s eta 0:00:11
   --------------- ------------------------ 59.9/150.0 MB 8.4 MB/s eta 0:00:11
   ---------------- ----------------------- 60.3/150.0 MB 8.4 MB/s eta 0:00:11
   ---------------- ----------------------- 60.7/150.0 MB 8.5 MB/s eta 0:00:11
   ---------------- ----------------------- 61.1/150.0 MB 8.4 MB/s eta 0:00:11
   ---------------- ----------------------- 61.6/150.0 MB 8.3 MB/s eta 0:00:11
   ---------------- ----------------------- 61.9/150.0 MB 8.4 MB/s eta 0:00:11
   ---------------- ----------------------- 62.3/150.0 MB 8.3 MB/s eta 0:00:11
   ---------------- ----------------------- 62.6/150.0 MB 8.3 MB/s eta 0:00:11
   ---------------- ----------------------- 63.1/150.0 MB 8.3 MB/s eta 0:00:11
   ---------------- ----------------------- 63.4/150.0 MB 8.4 MB/s eta 0:00:11
   ---------------- ----------------------- 63.7/150.0 MB 8.3 MB/s eta 0:00:11
   ----------------- ---------------------- 64.1/150.0 MB 8.4 MB/s eta 0:00:11
   ----------------- ---------------------- 64.5/150.0 MB 8.3 MB/s eta 0:00:11
   ----------------- ---------------------- 64.6/150.0 MB 8.1 MB/s eta 0:00:11
   ----------------- ---------------------- 64.9/150.0 MB 8.1 MB/s eta 0:00:11
   ----------------- ---------------------- 65.1/150.0 MB 8.1 MB/s eta 0:00:11
   ----------------- ---------------------- 65.6/150.0 MB 8.1 MB/s eta 0:00:11
   ----------------- ---------------------- 66.0/150.0 MB 8.2 MB/s eta 0:00:11
   ----------------- ---------------------- 66.4/150.0 MB 8.3 MB/s eta 0:00:11
   ----------------- ---------------------- 66.9/150.0 MB 8.3 MB/s eta 0:00:11
   ----------------- ---------------------- 67.2/150.0 MB 8.2 MB/s eta 0:00:11
   ------------------ --------------------- 67.6/150.0 MB 8.3 MB/s eta 0:00:10
   ------------------ --------------------- 68.2/150.0 MB 8.3 MB/s eta 0:00:10
   ------------------ --------------------- 68.6/150.0 MB 8.4 MB/s eta 0:00:10
   ------------------ --------------------- 69.0/150.0 MB 8.5 MB/s eta 0:00:10
   ------------------ --------------------- 69.7/150.0 MB 8.8 MB/s eta 0:00:10
   ------------------ --------------------- 70.1/150.0 MB 8.8 MB/s eta 0:00:10
   ------------------ --------------------- 70.5/150.0 MB 9.0 MB/s eta 0:00:09
   ------------------ --------------------- 70.8/150.0 MB 9.0 MB/s eta 0:00:09
   ------------------ --------------------- 71.2/150.0 MB 9.0 MB/s eta 0:00:09
   ------------------- -------------------- 71.5/150.0 MB 9.0 MB/s eta 0:00:09
   ------------------- -------------------- 72.2/150.0 MB 9.0 MB/s eta 0:00:09
   ------------------- -------------------- 72.6/150.0 MB 9.0 MB/s eta 0:00:09
   ------------------- -------------------- 72.9/150.0 MB 9.0 MB/s eta 0:00:09
   ------------------- -------------------- 73.3/150.0 MB 9.0 MB/s eta 0:00:09
   ------------------- -------------------- 73.7/150.0 MB 9.2 MB/s eta 0:00:09
   ------------------- -------------------- 74.0/150.0 MB 9.1 MB/s eta 0:00:09
   ------------------- -------------------- 74.4/150.0 MB 9.1 MB/s eta 0:00:09
   ------------------- -------------------- 74.7/150.0 MB 9.1 MB/s eta 0:00:09
   -------------------- ------------------- 75.1/150.0 MB 9.6 MB/s eta 0:00:08
   -------------------- ------------------- 75.5/150.0 MB 9.5 MB/s eta 0:00:08
   -------------------- ------------------- 75.8/150.0 MB 9.5 MB/s eta 0:00:08
   -------------------- ------------------- 76.1/150.0 MB 9.4 MB/s eta 0:00:08
   -------------------- ------------------- 76.4/150.0 MB 9.2 MB/s eta 0:00:08
   -------------------- ------------------- 76.7/150.0 MB 9.0 MB/s eta 0:00:09
   -------------------- ------------------- 77.1/150.0 MB 8.8 MB/s eta 0:00:09
   -------------------- ------------------- 77.5/150.0 MB 9.1 MB/s eta 0:00:08
   -------------------- ------------------- 77.9/150.0 MB 9.0 MB/s eta 0:00:09
   -------------------- ------------------- 78.3/150.0 MB 9.0 MB/s eta 0:00:08
   -------------------- ------------------- 78.7/150.0 MB 8.7 MB/s eta 0:00:09
   --------------------- ------------------ 79.0/150.0 MB 8.7 MB/s eta 0:00:09
   --------------------- ------------------ 79.3/150.0 MB 8.7 MB/s eta 0:00:09
   --------------------- ------------------ 79.7/150.0 MB 8.6 MB/s eta 0:00:09
   --------------------- ------------------ 80.1/150.0 MB 8.6 MB/s eta 0:00:09
   --------------------- ------------------ 80.4/150.0 MB 8.5 MB/s eta 0:00:09
   --------------------- ------------------ 80.9/150.0 MB 8.6 MB/s eta 0:00:09
   --------------------- ------------------ 81.1/150.0 MB 8.4 MB/s eta 0:00:09
   --------------------- ------------------ 81.4/150.0 MB 8.3 MB/s eta 0:00:09
   --------------------- ------------------ 81.6/150.0 MB 8.3 MB/s eta 0:00:09
   --------------------- ------------------ 81.6/150.0 MB 8.0 MB/s eta 0:00:09
   --------------------- ------------------ 81.9/150.0 MB 8.0 MB/s eta 0:00:09
   --------------------- ------------------ 82.2/150.0 MB 7.8 MB/s eta 0:00:09
   --------------------- ------------------ 82.4/150.0 MB 7.6 MB/s eta 0:00:09
   ---------------------- ----------------- 82.6/150.0 MB 7.6 MB/s eta 0:00:09
   ---------------------- ----------------- 82.9/150.0 MB 7.5 MB/s eta 0:00:09
   ---------------------- ----------------- 83.3/150.0 MB 7.4 MB/s eta 0:00:09
   ---------------------- ----------------- 83.6/150.0 MB 7.5 MB/s eta 0:00:09
   ---------------------- ----------------- 84.2/150.0 MB 7.5 MB/s eta 0:00:09
   ---------------------- ----------------- 84.5/150.0 MB 7.4 MB/s eta 0:00:09
   ---------------------- ----------------- 84.9/150.0 MB 7.5 MB/s eta 0:00:09
   ---------------------- ----------------- 85.2/150.0 MB 7.4 MB/s eta 0:00:09
   ---------------------- ----------------- 85.5/150.0 MB 7.5 MB/s eta 0:00:09
   ---------------------- ----------------- 85.9/150.0 MB 7.5 MB/s eta 0:00:09
   ----------------------- ---------------- 86.3/150.0 MB 7.6 MB/s eta 0:00:09
   ----------------------- ---------------- 86.7/150.0 MB 7.7 MB/s eta 0:00:09
   ----------------------- ---------------- 87.0/150.0 MB 7.7 MB/s eta 0:00:09
   ----------------------- ---------------- 87.4/150.0 MB 7.7 MB/s eta 0:00:09
   ----------------------- ---------------- 87.7/150.0 MB 7.7 MB/s eta 0:00:09
   ----------------------- ---------------- 88.1/150.0 MB 7.7 MB/s eta 0:00:09
   ----------------------- ---------------- 88.4/150.0 MB 7.7 MB/s eta 0:00:08

In [48]:
from xgboost import XGBClassifier

In [49]:
X_train

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,0,0,0,0,5849,0.0,146.412162,360.0,1.0,2
1,1,1,1,0,0,4583,1508.0,128.000000,360.0,1.0,0
2,1,1,0,0,1,3000,0.0,66.000000,360.0,1.0,2
3,1,1,0,1,0,2583,2358.0,120.000000,360.0,1.0,2
4,1,0,0,0,0,6000,0.0,141.000000,360.0,1.0,2
...,...,...,...,...,...,...,...,...,...,...,...
609,0,0,0,0,0,2900,0.0,71.000000,360.0,1.0,0
610,1,1,4,0,0,4106,0.0,40.000000,180.0,1.0,0
611,1,1,1,0,0,8072,240.0,253.000000,360.0,1.0,2
612,1,1,2,0,0,7583,0.0,187.000000,360.0,1.0,2
613,0,0,0,0,1,4583,0.0,133.000000,360.0,0.0,1

In [50]:
y_train

0      1
1      0
2      1
3      1
4      1
      ..
609    1
610    1
611    1
612    1
613    0
Name: Loan_Status, Length: 614, dtype: int32

In [51]:
y_pred

array([0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1,
       1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0,
       0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0,
       1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1])

# END Model

In [52]:
test

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,1,0,0,0,5720,0,110.0,360.0,1.0,2
1,1,1,1,0,0,3076,1500,126.0,360.0,1.0,2
2,1,1,2,0,0,5000,1800,208.0,360.0,1.0,2
3,1,1,2,0,0,2340,2546,100.0,360.0,1.0,2
4,1,0,0,1,0,3276,0,78.0,360.0,1.0,2
...,...,...,...,...,...,...,...,...,...,...,...
362,1,1,4,1,1,4009,1777,113.0,360.0,1.0,2
363,1,1,0,0,0,4158,709,115.0,360.0,1.0,2
364,1,0,0,0,0,3250,1993,126.0,360.0,1.0,1
365,1,1,0,0,0,5000,2393,158.0,360.0,1.0,0
366,1,0,0,0,1,9200,0,98.0,180.0,1.0,0

In [54]:
test = pd.read_csv(r"C:\Users\Hp\Downloads\test_lAUu6dG.csv")
submision =  test.iloc[:,0:1]
submision

      Loan_ID
0    LP001015
1    LP001022
2    LP001031
3    LP001035
4    LP001051
..        ...
362  LP002971
363  LP002975
364  LP002980
365  LP002986
366  LP002989

[367 rows x 1 columns]

In [55]:

submision['Loan_Status'] = y_pred

In [56]:
submision

      Loan_ID  Loan_Status
0    LP001015            0
1    LP001022            1
2    LP001031            1
3    LP001035            1
4    LP001051            1
..        ...          ...
362  LP002971            1
363  LP002975            1
364  LP002980            1
365  LP002986            0
366  LP002989            1

[367 rows x 2 columns]

In [57]:
submision['Loan_Status'] = submision['Loan_Status'].replace({0: 'N', 1: 'Y'})

In [58]:
submision

      Loan_ID Loan_Status
0    LP001015           N
1    LP001022           Y
2    LP001031           Y
3    LP001035           Y
4    LP001051           Y
..        ...         ...
362  LP002971           Y
363  LP002975           Y
364  LP002980           Y
365  LP002986           N
366  LP002989           Y

[367 rows x 2 columns]

In [60]:
submision.to_csv('submission_new.csv',index=False)